<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Test signup</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href='/stylesheets/main.css' />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">집에 가고싶다.</a></h1>
						<nav class="links">
							<ul>
								<li><a href="#">Lorem</a></li>
								<li><a href="#">Ipsum</a></li>
								<li><a href="#">Feugiat</a></li>
								<li><a href="#">Tempus</a></li>
								<li><a href="#">Adipiscing</a></li>
							</ul>
						</nav>
					</header>

					</section>

				<!-- Main -->
					<div id="main">
                            
							<article class="post">
								<header>
									<div class="title">
										<h2><a>집에 갈수있을까?</a></h2>
										<p>I want go home.</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">November 1o, 2020  </time>
										<a href="" class="author"><span class="name">GSM</span><img src="images/GSM_D.jpg" alt="" /></a>
									</div>
								</header>
                                <div class="title">
                                        <form action="/signup" method="post">
                                            <center> <h2><a>회원가입</a></h2> </center>
                                            <input type="text" name="name" class="text-field" placeholder="이름"><br>
                                            <input type="text" name="id" class="text-field" placeholder="아이디"><br>
                                            <input type="password" name="pw" class="text-field" placeholder="비밀번호"><br>
                                            <center><input type="submit" value="회원가입" class="button large">
											<input type="button" value="돌아가기" onclick="location.href='login'" class="button large"></center>
                                        </form>
                                </div>
							</article>
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="" class="logo"><img src="images/GSM_D.jpg" alt="" /></a>
								<header>
									<h2>집에 가고싶다.</h2>
									<p>Can we go home?</p>
								</header>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/browser.min.js"></script>
			<script src="/javascripts/breakpoints.min.js"></script>
			<script src="/javascripts/util.js"></script>
			<script src="/javascripts/main.js"></script>
	</body>
</html>